.banner {
  background-size: cover;
  background-position: 0cm 32cm;
  padding: 200px 0;
}

.banner h1 {
  color: #3D372E;
  font-size: 45px;
  -webkit-text-stroke: 0.3px #FAD192;
}

.banner p {
  color: rgb(255, 255, 255);
  opacity: .9;
  font-size: 25px;
}
